//Default Constants
$animation-duration--default: 0.7s;
$animation-transition--default: all $animation-duration--default;
$font-size--root: 62.5%;
$font-size--body: 1.6rem;
$font-size--root-px: 16px;
$font-size--root-value: 16;
$font-size--root-rem-px: 10px;
$line-height: 1.5;
$font--root: 'Roboto';
